In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from src.data.Dataset import Dataset

In [2]:
df = pd.DataFrame()
for ds_name in Dataset.available_datasets:
    ds = Dataset(ds_name)
    df = df.append(ds.info())
df = df.sort_index()

display(df)

,Type,Train Instances,Test Instances,Attributes,Labels,Cardinality
Corel5k,Image,4500,500,499,374,3.522000
bibtex,Text,4880,2515,1836,159,2.401893
birds,Audio,322,323,260,19,1.013953
delicious,Text,5000,3185,500,983,19.056323
emotions,Music,391,202,72,6,1.868465
enron,Text,1123,579,1001,53,3.378378
flags,Image,129,65,19,7,3.391753
image,Image,1800,200,135,5,1.236000
mediamill,Video,5000,5000,120,101,4.287700
scene,Image,1211,1196,294,6,1.073951
tmc2007_500,Text,5000,5000,500,22,2.201500
yeast,Biology,1500,917,103,14,4.237071